!!! 5
%html
  %head
    %title Violino
    %link{href: "css/app.css", rel: "stylesheet", type: "text/css"}
    %meta{name: "viewport", content: "width=564"}
  %body
    #app
      %h1 Violino
      %p Try to figure out the note from the score before it tells you!
      %p <strong>Left is the note</strong>, the <strong>right is the string/finger</strong>.
      #canvas
    %script{src: "js/app.js"}
